.titre {
    background-color: steelblue;
    font-family: "Cooper black";
    /*margin: ;*/
    color: #ffffff;
    box-shadow: 5px 3px 8px black;
    font-size: xx-large;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(https://assets.isu.pub/document-structure/230821235423-9ab61b0947c9a9339bfb78041a9ae305/v1/df378b0df9594d36917f480b074f8d7a.jpeg);
    background-size: cover;
    justify-content: center;
}

.icon {
    margin: 15px;
    box-shadow: 0px 3px 8px black;
    border-radius: 50px;
}

.icon {
    background-color: skyblue;
}

.table {
    margin-bottom: 10px;
    width: 70%;
    outline: none;
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;
}

.form {
    color: darkblue;
    font-family: "Cooper black";
    background-color: rgba(255, 255, 255, 0.3);
    font-size: large;
    padding: 30px;
    width: 420px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px black;
}

.site {
    font-size: xx-large;
    font-family: "Cooper black";
    text-shadow: 5px 3px 8px black;
    color: white;
    padding: 5px;
}

.sous {
    font-size: large;
    font-family: "Cooper black";
    text-shadow: 5px 3px 8px black;
    color: white;
}
.aff{
    background-color: steelblue;
    font-size: large;
    padding: 10px;
    margin-top: 20px;
    width: 420px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px black;
    margin-bottom: 30px;
}
.affi{
    background-color: white;
}

footer {
    flex-shrink: 0;
    font-family: "Cooper black";
    color: white;
    padding: 5px 30px 5px 30px;
    background-color: steelblue;
    object-fit: cover;
    border-radius: 35px;
    box-shadow: 0px 2px 5px black;

}
.vide{
    width: 300px;
    height: 500px;
}

.filterbutton {
    margin-top: 20px
}